/* Stiluri generale pentru toate dimensiunile de ecran */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Stiluri specifice pentru ecranele mai mici de 1020px */
@media (max-width: 1019.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Stiluri specifice pentru ecranele între 1020px și 1979.98px */
@media (min-width: 1020px) and (max-width: 1979.98px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Stiluri specifice pentru ecranele mai mari de 1980px */
@media (min-width: 1980px) {
  .container {
    max-width: 1400px;
  }
}
